/*універсальні стилі
селектор єлементу (тегу)
селектор id
селектор класу
селектор атрибуду
селектор нащадка
дочірній селектор
селектор сусіда*/

/* універсальний селектор */
/* 

*{
      margin: 0;
} 
*/

/* 
h1{
    color:pink;
}

p{
    color: red;
}

a{
    color: blueviolet;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
} 
*/

/* селектор id */

/*
 #description{
    color: azure;
} 
*/

/* селектор класу */

/* 
.text{
    color: tomato;
}
 */

/* селектор атрибуту */
/* 
 [href]{
    color: tomato;
 }

 [href="link"]{
    color: tomato;
 }
*/
